<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqf.mail.provider.mapper.MailBannerMapper">
  <resultMap id="BaseResultMap" type="com.zqf.mail.provider.domain.MailBanner">
    <!--@mbg.generated generated on Tue Mar 03 16:55:12 CST 2020.-->
    <!--@Table mail_banner-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="width" jdbcType="INTEGER" property="width" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Mar 03 16:55:12 CST 2020.-->
    id, height, image, link, title, width
  </sql>
</mapper>